*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.card{
    height: 100%;
    width: 30%;
    background-color: aqua;
    border-radius: 20px;
    margin: 100px auto;
    
}

.search{
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: space-between;
    background : linear-gradient(135deg, #89f7fe, #66a6ff);
}

 .search input{
    padding: 14px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 40px 30px ;
    flex: 1;
}
.search img{
   cursor: pointer;
   right : 20px ;
   height: 50px;
   align-items: center;
}
